/* ************************************************************************** */
/*                                                                            */
/*                     EK REMIXED THEME FOR BITBUCKET 6.x                     */
/*                                                                            */
/* ************************************************************************** */

/* FONTS */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(//remixed.kaos.st/fonts/osl.woff2) format('woff2'),
       url(//remixed.kaos.st/fonts/osl.woff)  format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(//remixed.kaos.st/fonts/osr.woff2) format('woff2'),
       url(//remixed.kaos.st/fonts/osr.woff)  format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url(//remixed.kaos.st/fonts/osi.woff2) format('woff2'),
       url(//remixed.kaos.st/fonts/osi.woff)  format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url(//remixed.kaos.st/fonts/osb.woff2) format('woff2'),
       url(//remixed.kaos.st/fonts/osb.woff)  format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url(//remixed.kaos.st/fonts/osb.woff2) format('woff2'),
       url(//remixed.kaos.st/fonts/osb.woff)  format('woff');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url(//remixed.kaos.st/fonts/jbmr.woff2) format('woff2'),
       url(//remixed.kaos.st/fonts/jbmr.woff)  format('woff');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 400;
  src: url(//remixed.kaos.st/fonts/jbmi.woff2) format('woff2'),
       url(//remixed.kaos.st/fonts/jbmi.woff)  format('woff');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 600;
  src: url(//remixed.kaos.st/fonts/jbmb.woff2) format('woff2'),
       url(//remixed.kaos.st/fonts/jbmb.woff)  format('woff');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 600;
  src: url(//remixed.kaos.st/fonts/jbmbi.woff2) format('woff2'),
       url(//remixed.kaos.st/fonts/jbmbi.woff)  format('woff');
}

/* ALL PAGES */

body {
  font-family: "Open Sans", "Segoe UI", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

pre, textarea, code, kbd, samp,
.content-view .CodeMirror pre {
  font-family: "JetBrains Mono", "Consolas", "Bitstream Vera Sans Mono", "Monaco", "Courier New", Courier, monospace !important;
  font-variant-ligatures: none !important;
}

.markup code {
  font-size: 0.9em;
}

.markup img {
  border: 1px solid #ddd;
  margin: 8px 0 8px 0;
  padding: 8px;
}

.branch-from-to {
  font-family: "JetBrains Mono", "Consolas", "Bitstream Vera Sans Mono", "Monaco", "Courier New", Courier, monospace;
  font-size: .9em;
  padding: 0 8px;
}

.commitid, .ref-label, .monospace-lozenge {
  font-family: "JetBrains Mono", "Consolas", "Bitstream Vera Sans Mono", "Monaco", "Courier New", Courier, monospace;
  font-size: .9em;
}

.searchable-selector .results {
  font-family: "JetBrains Mono", "Consolas", "Bitstream Vera Sans Mono", "Monaco", "Courier New", Courier, monospace;
}

td.commit > a.commitid {
  font-size: 1em;
}

.pull-request-activity .activity-item-content .ref-lozenge {
  border: 1px solid #ddd;
}

#inbox-trigger aui-badge {
  font-size: 11px;
  font-weight: bold;
  padding: 3px;
}

/* LOZENGE */

.aui-lozenge-moved {
  background-color: #ffbf3d;
  border-color: #ffbf3d;
  color: #3e2c0a;
}

.pull-request-state-lozenge.needs-work {
  color: #b36100;
}

.aui-lozenge-current {
  color: #1954ad;
}

.aui-lozenge-moved.aui-lozenge-subtle {
  border-color: #aaa;
  color: #777;
}

/* FILE BROWSER */

.filebrowser-table td.timestamp {
  color: #aaa;
  font-size: 12px;
}

.bitbucket-theme #browse-table tr.focused-file td:first-of-type {
  border-left-color: #333;
}

/* SOURCE VIEWER */

.source-view.text-view .line .line-number, .source-view.text-view .line .CodeMirror-linenumber {
  color: #999;
}

.source-view.text-view .line .line-number:hover, .source-view.text-view .line .CodeMirror-linenumber:hover {
  border-right-color: #999;
}

/* MERGE DIALOG */

.cm-s-commit-message .CodeMirror-code > .CodeMirror-line:first-child {
  font-size: 14px;
}

/* LABELS */

.label-container .aui-label {
  padding: 4px 4px 4px 4px;
  font-size: 12px;
  color: #666;
}

/* BUILDS PAGE */

.fkBSSF {
  background-color: #222 !important;
}
