/* ************************************************************************** */
/*                                                                            */
/*                    EK REMIXED THEME FOR CONFLUENCE 8.x                     */
/*                  https://kaos.sh/atlassian-remixed-theme                   */
/*                                                                            */
/* ************************************************************************** */

/* FONTS */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(//remixed.kaos.st/fonts/osl.woff2) format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(//remixed.kaos.st/fonts/osr.woff2) format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url(//remixed.kaos.st/fonts/osi.woff2) format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url(//remixed.kaos.st/fonts/osb.woff2) format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url(//remixed.kaos.st/fonts/osbi.woff2) format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url(//remixed.kaos.st/fonts/jbmr.woff2) format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 400;
  src: url(//remixed.kaos.st/fonts/jbmi.woff2) format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 600;
  src: url(//remixed.kaos.st/fonts/jbmb.woff2) format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 600;
  src: url(//remixed.kaos.st/fonts/jbmbi.woff2) format('woff2');
}

/* ALL PAGES */

body {
  font-family: "Open Sans", "Segoe UI", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  color: #222;
}

i, cite, em, var, address, dfn, #toolbar #format-dropdown a, .aui-tooltip.tipsy {
  font-family: "Open Sans", "Segoe UI", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif !important;
}

strong, b {
  font-family: "Open Sans", "Segoe UI", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif !important;
  font-weight: 600;
}

code, kbd, pre, .panel .panelContent pre,
#toolbar #format-dropdown .format-pre a,
.syntaxhighlighter a, .syntaxhighlighter div,
.syntaxhighlighter code, .syntaxhighlighter table,
.syntaxhighlighter table td, .syntaxhighlighter table tr,
.syntaxhighlighter table tbody, .syntaxhighlighter table thead,
.syntaxhighlighter table caption, .syntaxhighlighter textarea {
  font-family: "JetBrains Mono", "Consolas", "Bitstream Vera Sans Mono", "Monaco", "Courier New", Courier, monospace !important;
  font-variant-ligatures: none;
}

.panel, #content .panel {
  background-color: #F9F9F9;
}

a {
  text-decoration-skip: ink;
}

.wiki-content a, .wiki-content a:link {
  text-decoration: none;
}

.wiki-content a:focus, .wiki-content a:hover {
  text-decoration: underline;
}

.wiki-content h1, .panel h1, .panelMacro h1 { font-weight: 300; font-size: 2.4em;  color: #999; margin-top: 1.2em; border-bottom: 1px solid #eee; }
.wiki-content h2, .panel h2, .panelMacro h2 { font-weight: 300; border-bottom: none; color: #888; font-size: 2.0em; margin-top: 1.2em; border-bottom: 1px solid #eee; }
.wiki-content h3, .panel h3, .panelMacro h3 { font-weight: 300; color: #888; font-size: 1.6em; margin-top: 1.2em; margin-bottom: 0.4em; }
.wiki-content h4, .panel h4, .panelMacro h4 { font-weight: 300; color: #666; font-size: 1.4em; margin-top: 1.2em; margin-bottom: 0.4em; }
.wiki-content h5, .panel h5, .panelMacro h5 { font-weight: 300; color: #666; font-size: 1.2em; margin-top: 1.2em; margin-bottom: 0.4em; }
.wiki-content h6, .panel h6, .panelMacro h6 { font-weight: 300; color: #666; font-size: 1.2em; margin-top: 1.2em, margin-bottom: 0.4em; }

#toolbar #format-dropdown .format-h1 a { font-weight: 300 !important; font-size: 2.4em !important; color: #222; margin: 0 0 4px 0; }
#toolbar #format-dropdown .format-h2 a { font-weight: 300 !important; border-bottom: none; color: #222; font-size: 2.0em !important; margin: 4px 0 4px 0; }
#toolbar #format-dropdown .format-h3 a { font-weight: 300 !important; color: #222; font-size: 1.6em !important; margin: 4px 0 4px 0; }
#toolbar #format-dropdown .format-h4 a { font-weight: 300 !important; color: #222; font-size: 1.4em !important; margin: 4px 0 4px 0; }
#toolbar #format-dropdown .format-h5 a { font-weight: 300 !important; color: #222; font-size: 1.2em !important; margin: 4px 0 4px 0; }
#toolbar #format-dropdown .format-h6 a { font-weight: 300 !important; color: #222; font-size: 1.2em !important; margin: 4px 0 4px 0; }

/* TOP MENU */

.aui-header .aui-dropdown2-trigger:hover,
.aui-header .aui-dropdown2-trigger.active,
#header .aui-header .aui-nav-link.active,
#header .aui-header .aui-nav-imagelink.active,
#header .aui-header .aui-nav-imagelink:focus,
#header .aui-header .aui-nav-imagelink:hover,
#header .aui-header a:focus,
#header .aui-header a:hover,
#header .aui-header a:active {
  color: #fff;
}

.aui-header .aui-dropdown2-trigger,
#header .aui-header .aui-nav-link,
#header .aui-header .aui-nav-imagelink,
#header .aui-header a {
  color: #fff;
}

#header .aui-header .aui-dd-parent .aui-dropdown li.active a {
  color: #fff;
}

.aui-header .aui-quicksearch input[type='text'],
.aui-header .aui-quicksearch input[type='text'][type='text']:focus {
  background: #333;
}

.aui-header .aui-quicksearch:after,
.aui-header .aui-quicksearch input[type='text'],
.aui-header .aui-quicksearch input[type='text'][type='text']:focus {
  color: #777;
}

.aui-dropdown2.aui-style-default:hover a:not(.aui-dropdown2-disabled):hover {
  color: #fff;
}

/* DASHBOARD */

.list-container a, .list-container a:visited {
  color: #444;
}

.update-item-date-wrapper, .update-item-date-wrapper > a, .update-item-date-wrapper > a:visited {
  color: #999;
  font-size: 12px;
}

.list-container-all-updates .update-items .update-item-icons, .list-container-all-updates .update-items .update-item-content {
  padding: 5px 0 5px 5px;
}

.list-container-all-updates .update-item:first-child .update-item-icons, .list-container-all-updates .update-item:first-child .update-item-content {
  padding-top: 5px;
}

.aui-sidebar-body .all-spaces-link {
  color: #aaa;
}

.content-header .list-title {
  font-weight: 100;
  color: #666;
}

/* DASHBOARD LEFT MENU */

.aui-sidebar .aui-navgroup-vertical .aui-nav .aui-nav-selected>.aui-nav-item,
.aui-sidebar-submenu .aui-navgroup-vertical .aui-nav .aui-nav-selected>.aui-nav-item {
  font-weight: 600;
}

.aui-nav-heading>strong {
  font-weight: 600;
  color: #666;
}

.aui-navgroup-vertical .aui-nav>li>a,
.aui-nav-vertical>li>a,
.aui-sidebar .aui-navgroup-vertical .aui-nav .aui-nav-selected>.aui-nav-item,
.aui-sidebar-submenu .aui-navgroup-vertical .aui-nav .aui-nav-selected>.aui-nav-item {
  color: #333;
}

.expand-collapse-trigger, .space-favourite {
  color: #666 !important;
}

/* TOC MACRO */

.wiki-content li>ul,
.wiki-content li>ol,
.wiki-content ul>ul,
.wiki-content ol>ol {
  padding-inline-start: 24px;
}

/* PAGE TREE */

table.confluenceTable th.confluenceTh > .tablesorter-header-inner > p {
  font-weight: 600;
}

.plugin_pagetree_children_span.plugin_pagetree_current a {
  font-weight: 600 !important;
}

.acs-tree-item, .acs-side-bar a, .acs-side-bar td a,
.ia-secondary-content .acs-tree-item .navigation-pseudo-link {
  color: #333;
}

.ia-fixed-sidebar div.plugin_pagetree ul.plugin_pagetree_children_list .plugin_pagetree_children_span a {
  white-space: normal;
}

div.plugin_pagetree ul.plugin_pagetree_children_list>li>div.plugin_pagetree_childtoggle_container {
  height: 27px;
  opacity: 0.8;
}

.aui-iconfont-chevron-left::before, .aui-iconfont-chevron-right::before {
  margin-top: -1px;
}

.acs-side-bar-space-info .avatar-img-container .avatar-img-wrapper img.avatar-img {
  background-color: transparent;
}

/* RECENTLY UPDATED LIST */

.recently-updated-concise .update-item {
  margin-top: 10px;
}

.more-link-container {
  margin-top: 24px;
  border-top: 1px solid #ddd;
}

h2#recently-updated-macro {
  margin-bottom: 16px;
  padding-bottom: 4px;
}

/* PAGE HEADER */

#main #main-header {
  margin-top: 0;
}

#title-text {
  font-weight: 300;
}

#main-header-placeholder {
 opacity: 0;
 height: 110px !important;
}

#title-text {
 display: block !important;
}

/* PAGE METADATA */

.page-metadata, .page-metadata ul li a:link,
.page-metadata ul li a:focus, .page-metadata ul li a:hover,
.page-metadata ul li a:active, .page-metadata ul li a:visited {
  font-weight: 600;
}

.page-metadata ul {
  opacity: 0.25;
  -moz-transition: opacity 0.35s ease-in-out 0s;
  -webkit-transition: opacity 0.35s ease-in-out 0s;
  -o-transition: opacity 0.35s ease-in-out 0s;
  transition: opacity 0.35s ease-in-out 0s;
}

.page-metadata:hover ul {
  opacity: 1;
}

/* IMAGES */

.wiki-content .confluence-content-image-border {
  border: 1px solid #ddd;
  padding: 4px;
}

/* TOP MENU BUTTONS */

.app-switcher-trigger>.aui-icon {
  opacity: .7;
}

.aui-header .aui-icon {
  --aui-icon-size: 18px;
}

body:not([data-aui-version^="8"]) #create-page-button.clc-create-dialog-btn .aui-icon.aui-iconfont-more {
  color: #fff;
}

.aui-button.aui-button-subtle {
  color: #333;
}

.aui-button .aui-icon {
  color: #333;
}

#space-tools-menu-trigger.aui-button.aui-dropdown2-trigger.active > span {
  color: #fff;
}

.aui-dropdown2-trigger:not(.aui-dropdown2-trigger-arrowless):before {
  margin-top: -7px;
}

.mw-anchor.unread .badge {
  background: var(--aui-badge-primary-bg-color);
}

/* ATTACHMENTS PAGE */

table.attachments .filename-column .filename {
  padding-left: 4px;
}

/* COMMENT */

.quick-comment-prompt span {
  color: #999;
}

/* FOOTER */

#likes-section {
  font-weight: 400;
}

.labels-content {
  font-weight: 400;
}

/* BLOGS */

.blog-post-listing+.blog-post-listing {
  border-top: 1px dashed #ddd;
}

/* JIRA WIDGET BUTTON */

#content-metadata-jira .aui-icon {
  margin-top: 2px;
  margin-left: -2px;
  padding-left: 2px;
}

/* USER MENTION */

.wiki-content a.user-mention {
  color: #222;
  background: rgba(0,0,0,0.08);
  padding-top: 2px;
  border-radius: 1em;
}

.wiki-content a.user-mention:hover,
.wiki-content a.user-mention:active {
  background: rgba(0,0,0,0.2);
}

.wiki-content a.user-mention:before {
  background: none;
}

/* NOTIFICATIONS WIDGET */

.mw-notification-verb-icon > div {
  background-size: 16px !important;
}

#notifications-miniview-iframe {
  height: 608px;
}

#mw-container .mw-notifications-list {
  max-height: none !important;
  height: auto !important;
}

/* NOTIFICATIONS */

.aui-message.hint, .aui-message-hint, .aui-message.info, .aui-message-info {
  color: #333;
}

#mw-container .mw-drilldown-top {
  background: #fff;
}

/* COMMENT HIGHLIGHT */

.inline-comment-marker.valid.active {
  border: 2px solid #f6c342;
  box-shadow: none !important;
}

/* EDITOR */

.aui-toolbar2 .aui-dd-parent.active a.aui-button,
.aui-toolbar2 .toolbar-dropdown.active a.aui-button {
  background-color: #444;
}

#format-dropdown .dropdown-item {
  line-height: 24px;
}

.aui-dd-parent .aui-dropdown li.active {
  background-color: #eee;
}

#format-dropdown-display-menu .dropdown-item a:hover {
  background: #eee !important;
}

#toolbar #format-dropdown .format-blockquote a {
  border: none;
}

#com-atlassian-confluence .aui-dd-parent .aui-dropdown .dropdown-item.active a {
  color: #fff;
}

.aui-dd-parent .aui-dropdown li.active > a > span.aui-icon-small {
  color: #fff !important;
}

.aui-tooltip.tipsy .tipsy-arrow-n,
.aui-tooltip.tipsy .tipsy-arrow-s,
.aui-tooltip.tipsy .tipsy-arrow-e,
.aui-tooltip.tipsy .tipsy-arrow-w {
  border-bottom-color: #333;
}

.aui-tooltip.tipsy .tipsy-inner {
  background: #333;
}

/* SPACE CONTRIBUTORS */

.contributors-list>li {
  color: #999;
}

/* EXPAND ICON */

.expand-icon {
  vertical-align: text-top;
}

/* COMMENTS */

#comments-section .comment {
  border-top: 1px solid #eee;
  padding: 20px 0 20px 0;
}

#comments-section-title {
  color: #888;
}

.ic-replies #ic-showmore-container .ic-collapse-decor-center span {
  color: #888;
  font-size: 12px;
  font-weight: bold;
  padding: 0 10px !important;
  top: -17px !important;
}

.ic-replies {
  background-color: #fbfbfb !important;
}

/* STATUS MACRO */

.status-macro {
  min-width: 28px;
  padding: 3px 5px 3px;
}

/* SYNTAX HIGHLIGHTER */

.syntaxhighlighter.sh-default .gutter {
  background: #fff;
}

/* TEAM CALENDARS PLUGIN / DASHBOARD */

.dashboard-calendar .event-group .events .event-details {
  padding: 2px 0 0 0px !important;
}

.dashboard-calendar .event-group .events .event-times-container {
  width: 60px !important;
}

.dashboard-calendar .event-group .events .event-icon-container {
  width: 30px !important;
}

.dashboard-calendar .event-group .events .event-details .event-subcalendar-name {
  color: #aaa !important;
  font-size: 12px;
  font-weight: bold;
}

.dashboard-calendar .event-group .group-details {
  margin-left: 32px !important;
  margin-bottom: 16px;
}

.dashboard-calendar .calendar-heading {
  border-bottom: none !important;
}

.aui-theme-default div.dashboard-upcoming-events div.dashboard-calendar {
  overflow: auto !important;
}

/* LUCIDCHART PLUGIN */

.lucidchart-viewer, .lucidchart-viewer.dragging {
  cursor: move !important;
}

/* FIXES */

/* Chrome: Fix bug with change info on user profile page */
.recently-updated-sidebar .update-item-meta {
  overflow: visible;
}
