/* ************************************************************************** */
/*                                                                            */
/*                   ESSENTIAL KAOS JIRA 9.x REMIXED THEME                    */
/*                  https://kaos.sh/atlassian-remixed-theme                   */
/*                                                                            */
/* ************************************************************************** */

/* FONTS */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(//remixed.kaos.st/fonts/osl.woff2) format('woff2'),
       url(//remixed.kaos.st/fonts/osl.woff)  format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(//remixed.kaos.st/fonts/osr.woff2) format('woff2'),
       url(//remixed.kaos.st/fonts/osr.woff)  format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url(//remixed.kaos.st/fonts/osi.woff2) format('woff2'),
       url(//remixed.kaos.st/fonts/osi.woff)  format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url(//remixed.kaos.st/fonts/osb.woff2) format('woff2'),
       url(//remixed.kaos.st/fonts/osb.woff)  format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url(//remixed.kaos.st/fonts/osb.woff2) format('woff2'),
       url(//remixed.kaos.st/fonts/osb.woff)  format('woff');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url(//remixed.kaos.st/fonts/jbmr.woff2) format('woff2'),
       url(//remixed.kaos.st/fonts/jbmr.woff)  format('woff');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 400;
  src: url(//remixed.kaos.st/fonts/jbmi.woff2) format('woff2'),
       url(//remixed.kaos.st/fonts/jbmi.woff)  format('woff');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 600;
  src: url(//remixed.kaos.st/fonts/jbmb.woff2) format('woff2'),
       url(//remixed.kaos.st/fonts/jbmb.woff)  format('woff');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 600;
  src: url(//remixed.kaos.st/fonts/jbmbi.woff2) format('woff2'),
       url(//remixed.kaos.st/fonts/jbmbi.woff)  format('woff');
}

/* ALL PAGES */

body, #tinymce {
  color: #222;
  font-family: "Open Sans", "Segoe UI", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif !important;
}

strong, b {
  font-weight: 600;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
}

.aui-theme-default h1,
.aui-theme-default h2,
.aui-theme-default h3,
.aui-theme-default h4,
.aui-theme-default h5 {
  color: #666;
}

#summary-val {
  font-weight: 100;
}

div[data-ds--popup="true"] h4 {
  color: #fff;
}

.aui-header .aui-icon {
  --aui-icon-size: 18px !important;
}

.aui-dropdown2.aui-style-default strong {
  color: #555;
}

ul {
  margin: 0;
}

pre, textarea, .wiki-textfield,
form.aui .wiki-textarea,
form.aui .wiki-textfield,
div.wiki-edit .preformatted,
.preformatted,
div.wiki-edit div.code,
div.code,
code, kbd, samp,
#structure textarea,
.cell-type-key {
  font-family: "JetBrains Mono", "Consolas", "Bitstream Vera Sans Mono", "Monaco", "Courier New", Courier, monospace !important;
  font-variant-ligatures: none;
}

tt {
  background: #f5f5f5 none repeat scroll 0% 0%;
  border-radius: 2px;
  border: 1px solid #ccc;
  font-family: "JetBrains Mono", "Consolas", "Bitstream Vera Sans Mono", "Monaco", "Courier New", Courier, monospace;
  font-variant-ligatures: none;
  padding: 0 3px;
}

div.preformattedContent pre,
div.codeContent pre {
  max-height: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.aui-tooltip {
  background-color: #222222e3;
}

#log-work > div.form-body > a,
#log-work > div.form-body > img {
  display: none;
}

.aui-iconfont-info-filled {
  --aui-icon-size: 12px;
  filter: grayscale(1) opacity(0.35);
  padding-bottom: 3px;
}

.links-list .resolution {
  color: #777;
}

.image-wrap > img {
  max-width: calc(100% - 20px);
}

/* ACTIVITY STREAM */

.activity-item-description blockquote {
  background: #f6faff !important;
  border-left: 2px solid #a6cff6 !important;
  margin: 1em 0 1em 0 !important;
}

.activity-stream-container .thumbnails img {
  border-radius: 2px;
  margin: 0 !important;
  padding: 4px !important;
  width: calc(100% - 8px);
}

.activity-stream-container ul.thumbnails li {
  padding-right: 4px !important;
}

.activity-item-description .user-content .confluence-embedded-image {
  border: 1px #ddd solid;
  height: auto;
  max-width: calc(100% - 8px) !important;
  padding: 2px;
}

.codeContent  > pre, .preformattedContent > pre {
  font-size: 12px;
}

/* EDIT DIALOG */

@media (max-height: 700px) {
  .aui-dialog2-large.aui-layer, .aui-dialog2-xlarge.aui-layer {
    bottom: 30px;
  }

  .aui-dialog2.aui-layer {
    top: 30px;
  }
}

.qf-required-fields-message {
  text-align: right;
}

/* BANNER */

@media(max-height: 700px) {
  #announcement-banner {
    display:none;
  }
}

/* FOOTER */

#footer-logo, p.atlassian-footer {
  display: none;
}

#footer .footer-body {
  margin: 28px 0 0 0;
  padding: 0;
}

/* ISSUE LIST */

#issuetable>thead>tr>th, .issue-table>thead>tr>th,
#issuetable>tbody>tr>th, .issue-table>tbody>tr>th,
#issuetable>thead>tr>td, .issue-table>thead>tr>td,
#issuetable>tbody>tr>td, .issue-table>tbody>tr>td,
#issuetable>tfoot>tr>td, .issue-table>tfoot>tr>td {
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
  padding: 6px 10px;
}

/* PROJECT LIST */

#browse-projects-page table.aui .project-list-name {
  width: 25%;
}

#browse-projects-page table.aui .project-list-key {
  width: 16px;
}

#browse-projects-page table.aui .project-list-type {
  width: 12px;
}

#browse-projects-page table.aui .project-list-lead {
  width: 20px;
}

#browse-projects-page table.aui .project-list-category {
  width: 30px;
}

#browse-projects-page table.aui .project-list-url {
  width: 25%;
}

/* ISSUE */

#viewissuesidebar {
  width: 460px;
}

.item-details dl>dt {
  width: 140px;
  word-break: break-all;
}

.issue-header-content .aui-nav-breadcrumbs>li+li:before {
  left: -2px;
  top: 5px;
}

aui-badge, .aui-badge {
  background: #ddd;
  padding: 3px 6px 3px 6px;
}

#watching-toggle,
#watching-label,
#vote-toggle,
#vote-label,
#assign-to-me {
  color: #666;
  font-size: 12px;
  font-weight: 600;
}

.aui-badge.vote-state-on,
.aui-badge.watch-state-on {
  background-color: #999;
}

blockquote, .action-body blockquote {
  border-left: 2px solid #ccc;
  color: #666;
  font-style: italic;
  margin-left: 0;
}

.status-view, .issueaction-viewworkflow {
  color: #888;
  font-size: 13px;
}

.property-list .item .name,
.item-details dl>dt {
  color: #777;
}

.image-wrap > a > img {
  background-color: #fdfdfd;
  border-radius: 2px;
  border: 1px solid #ddd !important;
  margin: 6px 0 6px 0;
  padding: 4px;
}

.js-find-on-board-issue {
  color: #999 !important;
}

.attachment-content .attachment-delete .aui-icon {
  background-color: #fffc;
  border-radius: 4px;
  padding: 2px;
}

/* EDITOR */

a.wiki-edit-operation > img {
  height: 16px;
  width: 16px;
}

/* SEARCH */

.aui-header .aui-quicksearch input {
  background: #111;
  border: 2px solid #000;
}

body:not(.aui-legacy-focus) .aui-header .aui-quicksearch input:focus {
  background: #111;
  color: #ffffff;
}

/* RELEASES */

#release-report .status-category-blocks .yellow {
  background-color: #f4d719;
}

.release-report-tab .yellow .tab-count {
  color: #d1b60b;
}

.release-report-tab.active-tab .yellow,
.release-report-tab:hover .yellow {
  border-bottom-color: #f4d719;
}

#release-report .status-category-blocks .green {
  background-color: #14892c;
}

.release-report-tab .green .tab-count {
  color: #14892c;
}

.release-report-tab.active-tab .green,
.release-report-tab:hover .green {
  border-bottom-color: #14892c;
}

#release-report .status-category-blocks .blue-gray {
  background-color: #c5c5c5;
}

#release-report .version-description {
  margin-top: 16px;
}

/* STATUSES */

.aui-lozenge {
  padding: 3px 5px 3px;
}

.aui-lozenge.jira-issue-status-lozenge-medium-gray,
.aui-lozenge.jira-issue-status-lozenge-blue-gray,
.aui-lozenge.jira-issue-status-lozenge-default {
  background-color: #496180;
  border-color: #496180;
}

.aui-lozenge.jira-issue-status-lozenge-green,
.aui-lozenge.jira-issue-status-lozenge-success {
  background-color: #14892c;
  border-color: #14892c;
  color: #fff;
}

.aui-lozenge.jira-issue-status-lozenge-yellow,
.aui-lozenge.jira-issue-status-lozenge-inprogress {
  background-color: #ffd351;
  border-color: #e0c472;
  color: #5c4500;
}

.aui-lozenge.aui-lozenge-subtle.jira-issue-status-lozenge-yellow,
.aui-lozenge.aui-lozenge-subtle.jira-issue-status-lozenge-inprogress {
  border-color: #e0c472;
  color: #c69400;
}

.aui-lozenge.aui-lozenge-subtle.jira-issue-status-lozenge-green,
.aui-lozenge.aui-lozenge-subtle.jira-issue-status-lozenge-success {
  border-color: #b2d8b9;
  color: #14892c;
}

span.jira-issue-status-lozenge[data-tooltip*="Closed"] {
  background-color: #888 !important;
  border-color: #888 !important;
  color: #fff !important;
}

span.jira-issue-status-lozenge[data-tooltip*="Ready For Test"] {
  background-color: #e56550 !important;
  border-color: #e56550 !important;
  color: #fff !important;
}

span.jira-issue-status-lozenge[data-tooltip*="Delayed"] {
  background-color: #9672be !important;
  border-color: #9672be !important;
  color: #fff !important;
}

span.jira-issue-status-lozenge[data-tooltip*="Incomplete"] {
  background-color: #44acdb !important;
  border-color: #44acdb !important;
  color: #fff !important;
}

span.aui-lozenge-subtle {
  background-color: #fff !important;
  border: 1px solid;
}

span.aui-lozenge-subtle[data-tooltip*="Closed"] {
  color: #888 !important;
  border-color: #dbdbdb !important;
  background-color: #fff !important;
}

span.aui-lozenge-subtle[data-tooltip*="Delayed"] {
  color: #815fbc !important;
  border-color: #e1d4fc !important;
  background-color: #fff !important;
}

span.aui-lozenge-subtle[data-tooltip*="Ready For Test"] {
  color: #c83e2b !important;
  border-color: #deb3ad !important;
  background-color: #fff !important;
}

span.aui-lozenge-subtle[data-tooltip*="In Review"] {
  color: #00a886 !important;
  border-color: #a8cec6 !important;
  background-color: #fff !important;
}

span.aui-lozenge-subtle[data-tooltip*="Incomplete"] {
  color: #2592c3 !important;
  border-color: #44acdb !important;
  background-color: #fff !important;
}

.transition-button-incomplete {
  transition: background-color 0.5s, color 0.5s;
  --aui-btn-bg: #2592c3 !important;
  --aui-btn-border: #44acdb !important;
}

.transition-button-inprogress {
  transition: background-color 0.5s, color 0.5s;
  --aui-btn-bg: #ffd351 !important;
  --aui-btn-border: #ffd351 !important;
  --aui-btn-text: #3f3002 !important;
}

.transition-button-inreview {
  transition: background-color 0.5s, color 0.5s;
  --aui-btn-bg: #0db694 !important;
  --aui-btn-border: #0db694 !important;
  --aui-btn-text: #fff !important;
}

.transition-button-delayed {
  transition: background-color 0.5s, color 0.5s;
  --aui-btn-bg: #9672be !important;
  --aui-btn-border: #9672be !important;
  --aui-btn-text: #fff !important;
}

.transition-button-readyfortest {
  transition: background-color 0.5s, color 0.5s;
  --aui-btn-bg: #e56550 !important;
  --aui-btn-border: #e56550 !important;
  --aui-btn-text: #fff !important;
}

.transition-button-closed {
  transition: background-color 0.5s, color 0.5s;
  --aui-btn-bg: #aaa !important;
  --aui-btn-border: #aaa !important;
  --aui-btn-text: #fff !important;
}

ul.labels li .lozenge {
  background: #f2f2f2;
  border: 1px solid #bbb;
  color: #555;
  font-size: 13px;
  padding: 3px 4px;
}

a.aui-label {
  padding: 3px 4px;
  font-size: 13px;
}

#opsbar-transitions_more_drop {
  width: 330px;
}

#opsbar-transitions_more_drop .core-transition-list .transition-label {
  display: grid;
  grid-template-columns: calc(50%) 25px auto;
}

/* COMMENTS */

.action-details {
  color: #999;
}

.issue-data-block {
  border-bottom: 1px solid #eee;
}

.issue-data-block.focused {
  background-color: #f8f8f8;
}

.movedcomment {
  border-top: 1px solid #eee;
}

.textcommentreply {
  font-size: 14px;
}

.issue-data-block .twixi {
  background: #eee !important;
  outline: 3px #fff solid !important;
}

/* THREADED COMMENTS PLUGIN */

.comment-line {
  border-top: 0 !important;
  border-right: 0 !important;
}

.comment-item {
  padding-bottom: 15px;
  padding-right: 10px;
}

.comment-item-focused {
  border-radius: 4px;
}

.btn-expand {
  background: #ecedf0;
  border-radius: 4px;
  border: 2px solid #fff;
  height: 18px !important;
  margin-left: -8px;
  width: 18px !important;
}

.btn-expand:hover {
  background: #dfe2e7;
}

.comment-item__action-details--avatar > .user-avatar {
  color: #555;
  font-size: 14px !important;
  font-weight: 600;
}

.comment-item-focused {
  background: #f8f8f8;
}

.vote-num {
  color: unset;
}

.comment-item__action-body--container {
  max-height: unset;
}

.block-add-root-comment__sticky {
  box-shadow: 0 -1px 15px 1px #00000024 !important;
}

/* ADMIN PART */

select.imagebacked option, 
option.imagebacked, 
option.selectall {
  background-size: 16px;
}

.favicon-preview {
  max-width: 64px;
  max-height: 64px;
}

.aui-nav-heading {
  color: #555;
  font-size: 14px;
}

.bar-status-bad {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.bar-status-good {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pb_description {
  font-size: 18pt;
  font-weight: 100;
  color: #555;
}

.pb_section {
  margin: 8px 0 8px 0;
}

td.pb_barlefttd {
  background-color: #5481c3;
  border-radius: 4px;
}

.pb_barborder {
  border: none;
}

.adminhelper-icon-tick,
.adminhelper-icon-cross,
.adminhelper-icon-warning {
  background-size: 16px;
}

/* SONAR */

.view-issue-field > .user-hover > .slack-status {
  margin-left: -4px;
}

/* STRUCTURE */

.s-summary-overflow-icon > img {
  width: 16px;
  height: 16px;
}

/* PORTFOLIO/PLANS */

div[style*="background-image: url(\"/secure/viewavatar?size=xsmall"] {
  background-size: 16px;
}

/* GROOVY FIELD ICONS */

.sn-status-icon {
  background-color: #eee;
  border-radius: 4px;
  color: #aaa;
  font-size: 12px;
  font-weight: bold;
  height: 16px;
  padding: 3px;
  width: 16px;
}

.sn-status-hidden {
  color: #aaa;
  font-size: 12px;
  font-weight: bold;
  padding: 3px;
  vertical-align: text-top;
}

.sn-status-inprogress {
  background-color: #f6d810bf;
}

.sn-status-resolved {
  opacity: .4;
  background-color: #fff;
}

.sn-status-incomplete {
  background-color: #51c9ff91;
}

.sn-status-delayed {
  background-color: #a87cd985;
}

.sn-status-ready-for-test {
  background-color: #ff725b8f;
}

/* FIXES */

/* All: Fix bug with summary */
#summary-val {
  display: inline-block;
}

/* All: Fix issue type icon size in issue browser */
ul.aui-list-truncate > li > a.aui-icon-container {
  background-size: 16px;
}

/* All: Fix issue with editor style selector with threaded comments plugin is used */
div[field-id="comment"] > div > div.aui-dropdown2.aui-dropdown2-in-buttons {
  inset: 65px auto auto auto !important;
}

/* All: Fix search icon position */
.query-component .search-container .search-button .aui-icon-small:before {
  margin-top: 0px !important;
}

/* Firefox: Fix issue with focus on some elements */
a:focus {
  outline-style: auto;
}

/* All: Fix bug with arrow in select fields */
select:not(.select) {
  background-image: none !important;
}

/* JIRA Quick Reload Plugin: Fix bug with stacked notifications border */
.jira-qr-notice.stacked:before {
  background-color: #fff !important;
  border: 1px solid #f0f0f0 !important;
  border-radius: 3px;
}

/* Comments: Fix bug with showing comment actions */
.issue-data-block:hover .action-links a, .issue-data-block.focused .action-links a {
  opacity: 1 !important;
}

.issue-data-block .actionContainer:hover .action-links a {
  opacity: 1 !important;
}

.issue-data-block .action-links {
  opacity: 0 !important;
}

.issue-data-block .actionContainer:hover .action-links {
  opacity: 1 !important;
}

/* Fix bug with message spinner */
.jira-qr-notice .jira-qr-extra-info .jira-qr-reload-container .jira-qr-spinner {
  margin-right: 6px;
  overflow: visible;
}

/* Fix attachment background  */
#attachment_thumbnails .attachment-thumb,
#attachment_thumbnails .attachment-thumb .gallery {
  background-color: #fafafa;
  width: 198px;
}

/* Fix color and position of quick search dropdown */
.quick-search-section-heading {
  padding: 8px;
  color: #999;
}

/* Threaded Comments Plugin sticky panel fix */
.block-add-root-comment__sticky {
  width: calc(100% - var(--aui-sidebar-width, 0px) - 20px) !important;
}

/* Threaded Comments Plugin buttons position fix */
.comment-item__reply-editor-action {
  padding-top: 12px;
}
