/* ************************************************************************** */
/*                                                                            */
/*                   ESSENTIAL KAOS JIRA 8.x REMIXED THEME                    */
/*                                                                            */
/* ************************************************************************** */

/* FONTS */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(//remixed.kaos.st/fonts/osl.woff2) format('woff2'),
       url(//remixed.kaos.st/fonts/osl.woff)  format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(//remixed.kaos.st/fonts/osr.woff2) format('woff2'),
       url(//remixed.kaos.st/fonts/osr.woff)  format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url(//remixed.kaos.st/fonts/osi.woff2) format('woff2'),
       url(//remixed.kaos.st/fonts/osi.woff)  format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url(//remixed.kaos.st/fonts/osb.woff2) format('woff2'),
       url(//remixed.kaos.st/fonts/osb.woff)  format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url(//remixed.kaos.st/fonts/osb.woff2) format('woff2'),
       url(//remixed.kaos.st/fonts/osb.woff)  format('woff');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url(//remixed.kaos.st/fonts/jbmr.woff2) format('woff2'),
       url(//remixed.kaos.st/fonts/jbmr.woff)  format('woff');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 400;
  src: url(//remixed.kaos.st/fonts/jbmi.woff2) format('woff2'),
       url(//remixed.kaos.st/fonts/jbmi.woff)  format('woff');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 600;
  src: url(//remixed.kaos.st/fonts/jbmb.woff2) format('woff2'),
       url(//remixed.kaos.st/fonts/jbmb.woff)  format('woff');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 600;
  src: url(//remixed.kaos.st/fonts/jbmbi.woff2) format('woff2'),
       url(//remixed.kaos.st/fonts/jbmbi.woff)  format('woff');
}

/* ALL PAGES */

body, #tinymce {
  color: #222;
  font-family: "Open Sans", "Segoe UI", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

strong, b {
  font-weight: 600;
}

.user-content-block a,
.action-body.flooded a {
  color: #196ea5;
}

.aui-theme-default h1,
.aui-theme-default h2,
.aui-theme-default h3,
.aui-theme-default h4,
.aui-theme-default h5 {
  color: #666;
}

.aui-theme-default h1 {
  font-weight: 100;
}

.aui-header .aui-icon {
  --aui-icon-size: 18px;
}

.aui-dropdown2.aui-style-default strong {
  color: #555;
}

.aui-header .aui-header-logo>a:focus,
.aui-header .aui-header-logo>a:hover,
.aui-header .aui-header-primary>.aui-nav>li>a:not(.aui-button):focus,
.aui-header .aui-header-primary>.aui-nav>li>a:not(.aui-button):hover,
.aui-header .aui-header-secondary>.aui-nav>li>a:not(.aui-button):focus,
.aui-header .aui-header-secondary>.aui-nav>li>a:not(.aui-button):hover {
  background-color: #ffffff1a !important;
}

ul {
  margin: 0;
}

pre, textarea, .wiki-textfield,
form.aui .wiki-textarea,
form.aui .wiki-textfield,
div.wiki-edit .preformatted,
.preformatted,
div.wiki-edit div.code,
div.code,
code, kbd, samp,
#structure textarea,
.cell-type-key {
  font-family: "JetBrains Mono", "Consolas", "Bitstream Vera Sans Mono", "Monaco", "Courier New", Courier, monospace !important;
  font-variant-ligatures: none;
}

tt {
  background: #F5F5F5 none repeat scroll 0% 0%;
  border-radius: 2px;
  border: 1px solid #CCC;
  font-family: "JetBrains Mono", "Consolas", "Bitstream Vera Sans Mono", "Monaco", "Courier New", Courier, monospace;
  font-variant-ligatures: none;
  padding: 0 3px;
}

div.preformattedContent pre,
div.codeContent pre {
  max-height: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.aui-tooltip.tipsy .tipsy-inner {
  background: rgb(0 0 0 / 0.8) !important;
}

/* BANNER */

@media(max-height: 680px) {
  #announcement-banner {
    display:none;
  }
}

/* ISSUE LIST */

#issuetable>thead>tr>th, .issue-table>thead>tr>th,
#issuetable>tbody>tr>th, .issue-table>tbody>tr>th,
#issuetable>thead>tr>td, .issue-table>thead>tr>td,
#issuetable>tbody>tr>td, .issue-table>tbody>tr>td,
#issuetable>tfoot>tr>td, .issue-table>tfoot>tr>td {
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
  padding: 6px 10px;
}

/* PROJECT LIST */

#browse-projects-page table.aui .project-list-type,
#browse-projects-page table.aui .project-list-key {
  width: 30px;
}

#browse-projects-page table.aui .project-list-category {
  width: 100px;
}

/* ISSUE */

#viewissuesidebar {
  width: 460px;
}

.item-details dl>dt {
  width: 140px;
  word-break: break-all;
}

.issue-header-content .aui-nav-breadcrumbs>li+li:before {
  left: -2px;
  top: 5px;
}

aui-badge, .aui-badge {
  background: #ddd;
  padding: 3px 6px 3px 6px;
}

#watching-toggle,
#watching-label,
#vote-toggle,
#vote-label,
#assign-to-me {
  color: #666;
  font-size: 12px;
  font-weight: 600;
}

.aui-badge.vote-state-on,
.aui-badge.watch-state-on {
  background-color: #999;
}

blockquote,
.action-body blockquote {
  border-left: 1px solid #ccc;
  color: #666;
  font-style: italic;
}

.status-view, .issueaction-viewworkflow {
  color: #888;
  font-size: 13px;
}

.property-list .item .name,
.item-details dl>dt {
  color: #777;
}

/* SEARCH */

.aui-header .aui-quicksearch input {
  background: #111;
  border: 2px solid #000;
}

body:not(.aui-legacy-focus) .aui-header .aui-quicksearch input:focus {
  background: #111;
  color: #ffffff;
}

/* RELEASES */

#release-report .status-category-blocks .yellow {
  background-color: #f4d719;
}

.release-report-tab .yellow .tab-count {
  color: #d1b60b;
}

.release-report-tab.active-tab .yellow,
.release-report-tab:hover .yellow {
  border-bottom-color: #f4d719;
}

#release-report .status-category-blocks .green {
  background-color: #14892c;
}

.release-report-tab .green .tab-count {
  color: #14892c;
}

.release-report-tab.active-tab .green,
.release-report-tab:hover .green {
  border-bottom-color: #14892c;
}

#release-report .status-category-blocks .blue-gray {
  background-color: #c5c5c5;
}

#release-report .version-description {
  margin-top: 16px;
}

/* STATUSES */

.aui-lozenge {
  padding: 3px 5px 3px;
}

.aui-lozenge.jira-issue-status-lozenge-medium-gray,
.aui-lozenge.jira-issue-status-lozenge-blue-gray,
.aui-lozenge.jira-issue-status-lozenge-default {
  background-color: #496180;
  border-color: #496180;
}

.aui-lozenge.jira-issue-status-lozenge-green,
.aui-lozenge.jira-issue-status-lozenge-success {
  background-color: #14892c;
  border-color: #14892c;
  color: #fff;
}

.aui-lozenge.jira-issue-status-lozenge-yellow,
.aui-lozenge.jira-issue-status-lozenge-inprogress {
  background-color: #ffd351;
  border-color: #ffd351;
  color: #3f3002;
}

.aui-lozenge.aui-lozenge-subtle.jira-issue-status-lozenge-yellow,
.aui-lozenge.aui-lozenge-subtle.jira-issue-status-lozenge-inprogress {
  border-color: #ffe28c;
  color: #594300;
}

.aui-lozenge.aui-lozenge-subtle.jira-issue-status-lozenge-green,
.aui-lozenge.aui-lozenge-subtle.jira-issue-status-lozenge-success {
  border-color: #b2d8b9;
  color: #14892c;
}

span.jira-issue-status-lozenge[data-tooltip*="Closed"] {
  background-color: #AAA !important;
  border-color: #AAA !important;
  color: #fff !important;
}

span.jira-issue-status-lozenge[data-tooltip*="Ready For Test"] {
  background-color: #e56550 !important;
  border-color: #e56550 !important;
  color: #fff !important;
}

span.jira-issue-status-lozenge[data-tooltip*="Delayed"] {
  background-color: #9672be !important;
  border-color: #9672be !important;
  color: #fff !important;
}

span.jira-issue-status-lozenge[data-tooltip*="Incomplete"] {
  background-color: #44acdb !important;
  border-color: #44acdb !important;
  color: #fff !important;
}

span.aui-lozenge-subtle {
  background-color: #fff !important;
  border: 1px solid;
}

span.aui-lozenge-subtle[data-tooltip*="Closed"] {
  color: #777 !important;
  border-color: #d5d5d5 !important;
  background-color: #fff !important;
}

span.aui-lozenge-subtle[data-tooltip*="Delayed"] {
  color: #815fbc !important;
  border-color: #e1d4fc !important;
  background-color: #fff !important;
}

span.aui-lozenge-subtle[data-tooltip*="Ready For Test"] {
  color: #c83e2b !important;
  border-color: #deb3ad !important;
  background-color: #fff !important;
}

span.aui-lozenge-subtle[data-tooltip*="In Review"] {
  color: #594300 !important;
  border-color: #ffe28c !important;
  background-color: #fff !important;
}

span.aui-lozenge-subtle[data-tooltip*="Incomplete"] {
  color: #2592c3 !important;
  border-color: #44acdb !important;
  background-color: #44acdb04 !important;
}

ul.labels li .lozenge {
  background: #f2f2f2;
  border: 1px solid #bbb;
  color: #555;
  font-size: 13px;
  padding: 3px 4px;
}

/* COMMENTS */

.action-details {
  color: #999;
}

.issue-data-block:hover, .issue-data-block.focused {
  background-color: #f5f5f5;
  border-left: 2px solid #ccc;
  padding-left: 8px;
}

.issue-data-block {
  border-bottom: 1px solid #eee;
}

.movedcomment {
  border-top: 1px solid #eee;
}

.textcommentreply {
  font-size: 14px;
}

/* THREADED COMMENTS PLUGIN */

.likes {
  margin: 4px;
}

.commentreply {
  font-weight: 600;
  line-height: 3;
}

/* ADMIN PART */

select.imagebacked option, 
option.imagebacked, 
option.selectall {
  background-size: 16px;
}

.favicon-preview {
  max-width: 64px;
  max-height: 64px;
}

.aui-nav-heading {
  color: #555;
  font-size: 14px;
}

.bar-status-bad {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.bar-status-good {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pb_description {
  font-size: 18pt;
  font-weight: 100;
  color: #555;
}

.pb_section {
  margin: 8px 0 8px 0;
}

td.pb_barlefttd {
  background-color: #5481c3;
  border-radius: 4px;
}

.pb_barborder {
  border: none;
}

/* SONAR */

.view-issue-field > .user-hover > .slack-status {
  margin-left: -4px;
}

/* STRUCTURE */

.s-summary-overflow-icon > img {
  width: 16px;
  height: 16px;
}

/* GROOVY FIELD ICONS */

.sn-status-icon {
  background-color: #eee;
  border-radius: 4px;
  color: #aaa;
  font-size: 12px;
  font-weight: bold;
  height: 16px;
  padding: 3px;
  width: 16px;
}

.sn-status-hidden {
  color: #aaa;
  font-size: 12px;
  font-weight: bold;
  padding: 3px;
  vertical-align: text-top;
}

.sn-status-inprogress {
  background-color: #f6d810bf;
}

.sn-status-resolved {
  opacity: .4;
  background-color: #fff;
}

.sn-status-incomplete {
  background-color: #51c9ff91;
}

.sn-status-delayed {
  background-color: #a87cd985;
}

.sn-status-ready-for-test {
  background-color: #ff725b8f;
}

/* FIXES */

/* Fix bug with summary */
#summary-val {
  display: inline-block;
}

/* Fix issue type icon size in issue browser */
ul.aui-list-truncate > li > a.aui-icon-container {
  background-size: 16px;
}

/* Fix issue with editor style selector with threaded comments plugin is used */
div[field-id="comment"] > div > div.aui-dropdown2.aui-dropdown2-in-buttons {
  inset: 65px auto auto auto !important;
}

/* Fix issue with focus on some elements */
:focus {
  outline-style: auto;
}

/* Fix search icon position */
.query-component .search-container .search-button .aui-icon-small:before {
  margin-top: 0px !important;
}
