/* ************************************************************************** */
/*                                                                            */
/*                ESSENTIAL KAOS JIRA 6.4.x REMIXED THEME                     */
/*                                                                            */
/* ************************************************************************** */

/* FONTS */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'),
       local('OpenSans-Light'),
       url(//remixed.kaos.io/fonts/osl.woff2) format('woff2'),
       url(//remixed.kaos.io/fonts/osl.woff)  format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'),
       local('OpenSans'),
       url(//remixed.kaos.io/fonts/osr.woff2) format('woff2'),
       url(//remixed.kaos.io/fonts/osr.woff)  format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'),
       local('OpenSans-Italic'),
       url(//remixed.kaos.io/fonts/osi.woff2) format('woff2'),
       url(//remixed.kaos.io/fonts/osi.woff)  format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Bold'),
       local('OpenSans-Bold'),
       url(//remixed.kaos.io/fonts/osb.woff2) format('woff2'),
       url(//remixed.kaos.io/fonts/osb.woff)  format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Bold'),
       local('OpenSans-Bold'),
       url(//remixed.kaos.io/fonts/osb.woff2) format('woff2'),
       url(//remixed.kaos.io/fonts/osb.woff)  format('woff');
}

/* ALL PAGES */

body {
  font-family: "Open Sans";
}

strong, b {
  font-weight: 600;
}

pre, textarea, .wiki-textfield,
form.aui .wiki-textarea,
form.aui .wiki-textfield,
div.wiki-edit .preformatted,
.preformatted,
div.wiki-edit div.code,
div.code,
code, kbd, samp {
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Monaco", "Courier New", Courier, monospace;
}

tt {
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Monaco", "Courier New", Courier, monospace;
  background: #F5F5F5 none repeat scroll 0% 0%;
  border: 1px solid #CCC;
  border-radius: 2px;
  padding: 0 3px;
}

.aui-theme-default h1,
.aui-theme-default h2,
.aui-theme-default h3,
.aui-theme-default h4,
.aui-theme-default h5 {
  color: #666;
}

.aui-theme-default h1 {
  font-weight: 100;
}

.aui-header .aui-quicksearch input[type='text'] {
  background: #333;
  -webkit-transition: background-color 250ms ease-out;
  -moz-transition: background-color 250ms ease-out;
  -o-transition: background-color 250ms ease-out;
  -ms-transition: background-color 250ms ease-out;
  transition: background-color 250ms ease-out;
}

.aui-header .aui-quicksearch input[type='text'][type='text']:focus {
  background:#fff;
  color:#333;
}

.module>.mod-header+.mod-content {
  margin-top: 10px !important;
}

.order-dropdown .aui-list-section-footer {
  color: #999;
}

table.aui>thead>tr>th,
table.aui>tbody>tr>th,
table.aui>thead>tr>td,
table.aui>tbody>tr>td,
table.aui>tfoot>tr>td {
  color: #555;
}

form.aui div.description {
  color: #888;
  font-size: 11px;
  font-style: italic;
  margin: 4px 0 0 0;
}

ul {
  margin: 0;
}

/* GADGETS */

.search-results-dashboard-item-issue-table {
  font-size: 13px;
}

/* ISSUE */

.issue-header .issue-header-content>.aui-page-header {
  padding: 12px 20px 0 20px;
}

.ka .issue-header .issue-header-content>.aui-page-header {
  padding-bottom: 8px;
}

.issue-header-content .aui-nav-breadcrumbs>li+li:before {
  top: 6px;
  left: -2px;
}

#viewissuesidebar {
  width: 420px;
}

h2.toggle-title {
  color: #888;
}

.issue-body-content .module>.mod-header>h1,
.issue-body-content .module>.mod-header>h2,
.issue-body-content .module>.mod-header>h3,
.issue-body-content .module>.mod-header>h4,
.issue-body-content .module>.mod-header>h5,
.issue-body-content .module>.mod-header>h6
{
  font-weight: 100;
}

#summary-val .text {
  font-weight: 100;
}

#watching-toggle,
#watching-label,
#vote-toggle,
#vote-label {
  font-size: 12px;
  font-weight: 600;
  color: #666;
}

.aui-badge {
  background: #ddd;
  padding: 2px 6px 3px 6px;
}

.aui-badge.vote-state-on,
.aui-badge.watch-state-on {
  background-color: #999;
}

.icon {
  vertical-align: middle;
}

.jira-icon-add {
  margin-top: -13px;
}

.aui-icon-small, .aui-icon-large {
  vertical-align: middle;
}

blockquote,
.action-body blockquote {
  border-left: 1px solid #ccc;
  color: #666;
  font-style: italic;
}

.status-view, .issueaction-viewworkflow {
  font-size: 13px;
  color: #888;
}

.links-list+.links-list {
  border-top: 1px solid #eee;
}

.links-list dd {
  border-top: 1px solid #eee;
}

div.preformattedContent pre,
div.codeContent pre {
  max-height: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.subtask-table-container > #issuetable > tbody > .issuerow {
  height: 52px;
}

/* STATUSES */

span[data-tooltip*="Closed"] {
  background-color: #AAA !important;
  border-color: #AAA !important;
  color: #fff !important;
}

span[data-tooltip*="Ready For Test"] {
  background-color: #e56550 !important;
  border-color: #e56550 !important;
  color: #fff !important;
}

span[data-tooltip*="Delayed"] {
  background-color: #9672be !important;
  border-color: #9672be !important;
  color: #fff !important;
}

span.aui-lozenge-subtle {
  background-color: #fff !important;
}

span.aui-lozenge-subtle[data-tooltip*="Closed"] {
  color: #777 !important;
  border-color: #d5d5d5 !important;
}

span.aui-lozenge-subtle[data-tooltip*="Delayed"] {
  color: #815fbc !important;
  border-color: #e1d4fc !important;
}

span.aui-lozenge-subtle[data-tooltip*="Ready For Test"] {
  color: #c83e2b !important;
  border-color: #deb3ad !important;
}

ul.labels li .lozenge {
  background: #f2f2f2;
  border: 1px solid #bbb;
  color: #555;
  font-size: 13px;
  padding: 3px 4px;
}

/* SUBTASKS */

#issuetable>tbody>tr:first-child>td, .issue-table>tbody>tr:first-child>td,
#issuetable>tbody>tr:first-child>th, .issue-table>tbody>tr:first-child>th,
#issuetable>tfoot>tr:first-child>td, .issue-table>tfoot>tr:first-child>td {
  border-top: 1px solid #eee;
}

#issuetable .stsequence, .issue-table .stsequence {
  color: #888;
}

/* COMMENTS */

.action-details {
  color: #999;
}

img.emoticon {
  border: none;
  padding: 0;
  margin-top:0;
  margin-bottom: 4px;
}

.issue-data-block:hover, .issue-data-block.focused {
  background-color: #f5f5f5;
  border-left: 2px solid #ccc;
  padding-left: 8px;
}

.issue-data-block {
  border-bottom: 1px solid #eee;
}

.movedcomment {
  border-top: 1px dotted #dcdcdc;
}

.commentreplyarea {
  padding-top: 8px;
}

.textcommentreply {
  font-size: 14px;
}

.ops {
  padding: 6px 0 0 0;
}

/* TABS */

ul.tabs li strong,
ul.tabs li.tab-title {
  font-weight: normal;
}

.tabwrap>ul.tabs>li a,
.tabwrap>ul.tabs>li a:link,
.tabwrap>ul.tabs>li a:visited {
  color: #888;
}

.tabwrap>.tabs.horizontal>li a:hover {
  color: #333;
}

ul.labels li .lozenge {
  overflow-x: visible;
}

ul.labels {
  margin: 0;
}

/* ATTACHMENTS */

#attachment_thumbnails .attachment-content {
  border: 1px solid #ddd;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12);
}

.webkit .jira-multi-select>.representation .item-row .item-delete:after {
  bottom: 0px;
}

/* DEVELOPMENT */

.rolling-container {
  font-size: 13px;
  color: #AAA;
}

/* PROJECTS LIST */

table.aui>tbody>tr,
table.aui>tfoot>tr {
  border-bottom: 1px solid #eee;
}

.colour-bar {
  border-top: 10px solid #3c78b5;
}

/* ISSUE LIST */

.issue-list>li {
  border-bottom: 1px solid #eee;
}

#issuetable>thead>tr>th,
.issue-table>thead>tr>th,
#issuetable>tbody>tr>th,
.issue-table>tbody>tr>th,
#issuetable>thead>tr>td,
.issue-table>thead>tr>td,
#issuetable>tbody>tr>td,
.issue-table>tbody>tr>td,
#issuetable>tfoot>tr>td,
.issue-table>tfoot>tr>td {
  border-bottom: 1px solid #eee;
}

#search-header-view .header-section-primary h1 {
  font-weight: 100;
}

.query-component .search-container[data-mode="advanced"] .atlassian-autocomplete label[for="advanced-search"] .icon {
  top: 9px;
  left: 7px;
}

.no-results-message h3 {
  font-weight: 100;
}

.no-results-hint {
  font-style: italic;
}

/* ADMINS PART */

.aui-navgroup-horizontal .aui-nav>li a,
.aui-navgroup-vertical .aui-nav>li>a,
.aui-nav-vertical>li>a {
  color: #666;
}

.aui-navgroup-horizontal
.aui-nav>li a:focus,
.aui-navgroup-vertical
.aui-nav>li>a:focus,
.aui-nav-vertical>li>a:focus,
.aui-navgroup-horizontal
.aui-nav>li a:hover,
.aui-navgroup-vertical
.aui-nav>li>a:hover,
.aui-nav-vertical>li>a:hover {
  color: #666;
}

#upm-container h4 {
  font-weight: 400;
}

.pb_description {
  font-weight: 100;
  color: #666;
}

.pb_section {
  margin: 8px 0 8px 0;
}

.pb_barborder {
  border: none;
  background-color: #EEE;
}

td.pb_barlefttd {
  background-color: #4693E1;
}

div.pb_border {
  border: 1px #CCC solid;
}

option.imagebacked {
  background-size: 16px;
}

/* THREADED COMMENTS PLUGIN */

.upvote {
  padding-right: 4px;
}

.commentreply {
  line-height: 3;
  font-weight: 600;
}

/* DND PLUGIN */

.issue-drop-zone {
  border: 1px dashed #CCC;
}

.issue-drop-zone__text {
  color: #888;
  font-weight: 300;
}

.issue-drop-zone__message {
  color: #BBB;
  text-align: center;
  font-size: 12px;
}

/* STRUCTURE PLUGIN */

.st-details-header {
  background-color: #EEE;
}

.st-details-title-icon > img {
  vertical-align: top;
  width: 16px;
  margin: 2px;
}

#structure .celldiv .value .s-icons > img {
  margin-right: 2px;
}

/* FIXES FIXES FIXES */

/* Fixed word break for text in tables */
table.confluenceTable {
  word-break: normal;
}

/* Fixed add subtask icon position */
.issue-body-content .module>.mod-header .ops {
  margin-top: -5px;
  padding-left: 4px;
}

#view-subtasks_heading {
  padding-bottom: 8px;
}

/* Fixed long names in attachments */
#attachmentmodule,
#descriptionmodule,
#activitymodule {
  word-break: break-word;
}

/* Fixed skinny buttons size */
.skinny .split-view .issue-header .aui-toolbar .toolbar-group .toolbar-trigger,
.skinny .split-view .issue-header .aui-toolbar .aui-dd-parent a.aui-dd-trigger {
  height: auto;
}

/* Fixed link window height */
#link-issue-dialog form {
  height: 400px;
}

/* Fixed icon vertical align in prop lists */
.property-list img {
  vertical-align: sub;
}

/* Fixed icon vertical align in links lists */
.links-list img {
  vertical-align: sub;
}

/* Fixed icon vertical align in tables */
table.aui img {
  vertical-align: sub;
}

/* Fixed issue list items vertical align*/
#issuetable>tbody>tr>td {
  vertical-align: middle;
}

/* Fixed subtask separator vertical position in issue list */
#issuetable .parentIssue, .issue-table .parentIssue {
  background-position-y: 4px;
}
